.Contain {
  margin-top: 38;
  margin-left: 32;
  background-color: "red";
}
.ListTitle {
  /* 그룹의 제목 */
  width: 95px;
  height: 24px;
  /* title-sm */
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* black/80 */

  color: rgba(0, 0, 0, 0.8);

  /* Inside auto layout */
}
